<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>San Antonio * Ikigai Apartamentos de Playa</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="/css/styles_tablet.css"
      media="(min-width:481px)"
    />
    <link
      rel="stylesheet"
      href="/css/styles_desktop.css"
      media="(min-width:769px)"
    />
    <link
      rel="stylesheet"
      href="/css/styles_hd.css"
      media="(min-width:1200px)"
    />
  </head>
  <body>
    <div class="top_header">
      <div class="container">
        <ul>
          <li>
            <a href="tel:01158229198">
              <i class="fab fa-whatsapp"></i>
              (54) 9 11 5822 9198
            </a>
          </li>
          <li>
            <a href="mailto:info_ikigai_apart@pm.com">
              <i class="far fa-envelope"> </i>
              info_ikigai_apart@pm.me
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#">
              <i class="fas fa-map-marker-alt"></i>
              Manzana 74 - Balneario San Antonio, Rocha, Uruguay
            </a>
          </li>
        </ul>
      </div>
    </div>
    <header>
      <div class="main_header"></div>
      <div class="navbar">
        <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
        <a href="#"><i class="fa fa-fw fa-calendar"></i> Disponibilidad</a>
        <a href="#"><i class="fa fa-fw fa-bed"></i> Reservas</a>
        <a href="#"><i class="fa fa-fw fa-envelope"></i> Contacto</a>
        <a class="login" href="#"
          ><i class="fa fa-fw fa-user-edit"></i> Registrarse</a
        >
        <a class="login" href="#"><i class="fa fa-fw fa-user"></i> Login</a>
      </div>
    </header>
    <main>
      <section class="top_main_front">
        <img class="banner" src="/img/balneario-san-antonio-1.jpg" alt="" />
        <img class="logo" src="/img/logo_ikigai.svg" />
      </section>
      <article class="main_details">
        <div class="mapa_ubicacion">
          <iframe
            class="mapa"
            src="https://www.google.com/maps/d/embed?mid=1xunPAzA_JBAna5nRlvWQI08Cua01LbRr"
            width="640"
            height="480"
          ></iframe>
          <div class="text_main_details">
            <h3>Turismo Rocha / San Antonio</h5>
            <p>
              Un paraíso para vivir la naturaleza, la joya escondida de Rocha. A
              6 Km del centro de La Pedrera, por la ruta 10 hacia el este -Km
              234- por una entrada rodeada de campos llegamos al balneario San
              Antonio de La Pedrera.
            </p>
            <p>
              Nos sorprende la combinación de bosque al fondo, y al frente una
              inmensa playa de arenas vírgenes, blancas bañadas por un infinito
              mar oceánico. Salvaje vegetación autóctona, bosques de pinos,
              butia, coronilla, molle, canelón y gran diversidad de aves
              silvestres son su paisaje característico. Aves y mamíferos en su
              hábitat natural.
            </p>
            <p>
              El lugar es exclusivo, con pocas construcciones donde se
              privilegian la tranquilidad y la naturaleza. Un entorno de mucha
              paz e intimidad y cuatro kilómetros de costa virgen para
              disfrutar.
            </p>
            <p>
              Hay luz eléctrica, los caminos y puentes que recorren el balneario
              se conservan en buen estado y se recomienda tener un vehículo para
              trasladarse hasta La Pedrera, a 6 kms, por abastecimiento,
              restaurantes y bares. En San Antonio, se disfrutan los sonidos del
              silencio y del canto de los pájaros.
            </p>
          </div>
        </div>
      </article>
    </main>
    <footer></footer>
    <a
      href="https://api.whatsapp.com/send?l=es&amp;phone=5491158229198&amp;text=Hola, me gustaría recibir información sobre tarifas y fechas disponibles para realizar una reserva "
      class="btn-whatsapp"
      title="¡Mandanos un Whatsapp!"
      data-title="¡Mandanos un Whatsapp con tu consulta! Te responderemos de Lu - Vie de 9 a 18hs."
      data-tipper-options='{"direction":"left"}'
      ><img src="/img/btn-whatsapp.png" />
    </a>
  </body>
</html>
