<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>San Antonio * Ikigai Apartamentos de Playa</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/tools.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="/css/styles-tablet.css"
      media="(min-width:481px)"
    />
    <link
      rel="stylesheet"
      href="/css/styles-desktop.css"
      media="(min-width:769px)"
    />
    <link
      rel="stylesheet"
      href="/css/styles_hd.css"
      media="(min-width:1200px)"
    />
  </head>
  <body>
    <div class="top_header">
      <div class="container-header">
        <ul>
          <li>
            <a href="tel:01158009100">
              <i class="fab fa-whatsapp"></i>
              (54) 9 11 5800 9100
            </a>
          </li>
          <li class="myLinks">
            <a href="mailto:info_ikigai_aparts@pm.com">
              <i class="far fa-envelope"> </i>
              info_ikigai_aparts@pm.me
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#">
              <i class="fas fa-map-marker-alt"></i>
              Manzana 74 - Balneario San Antonio, Rocha, Uruguay
            </a>
          </li>
        </ul>
      </div>
    </div>
    <header>
      <div class="main_header"></div>
      <div class="navbar">
        <div class="myLinks">
        <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="#"><i class="fas fa-search-dollar"></i> Tarifas</a>
        <a href="#"><i class="fa fa-fw fa-calendar"></i> Disponibilidad</a>
        <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
        </div>  
        <a href="#"><i class="fa fa-fw fa-bed"></i> Reservar</a>
        <a class="login" href="/register"
        ><i class="fa fa-fw fa-user-edit"></i> Registrarse</a
        >
        <a class="login" href="/login"
        ><i class="fa fa-fw fa-user"></i> Login</a
        >
        </div>
    </header>
    <main>
      <section class="top_main_front">
        <img class="banner" src="/img/balneario-san-antonio-1.jpg" alt="Vista de la Playa de San Antonio" />
        <a  href="/ikigai" data-title-ikigai="segui este enlace para descubrir tu IKIGAI"><img class="logo" src="/img/logo_ikigai.svg" title="" alt="Logo IKIGAI" />
      </a>
      </section>
      <article class="main_details">
        <h2 class="main_title">Nuestro Lugar</h2>
        <div class="mapa_ubicacion">
          <iframe class="mapa"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3829.997510990717!2d-54.06744758477194!3d-34.54031108047604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9573611f9da81c25%3A0x402cd4142e6c02bc!2sIKIGAI%20-%20San%20Antonio%20Aparts!5e1!3m2!1ses-419!2sar!4v1629867482044!5m2!1ses-419!2sar"
            width="750"
            height="600"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
          <div class="text_main_details">
            <h3>Balneario San Antonio</h3>
            <p>
              Un paraíso para vivir la naturaleza, la joya escondida de Rocha. A
              6 Km del centro de La Pedrera, por la ruta 10 hacia el este -Km
              234- por una entrada rodeada de campos llegamos al balneario San
              Antonio de La Pedrera.
            </p>
            <p>
              Nos sorprende la combinación de bosque al fondo, y al frente una
              inmensa playa de arenas vírgenes, blancas bañadas por un infinito
              mar oceánico. Salvaje vegetación autóctona, bosques de pinos,
              butia, coronilla, molle, canelón y gran diversidad de aves
              silvestres son su paisaje característico. Aves y mamíferos en su
              hábitat natural.
            </p>
            <p>
              El lugar es exclusivo, con pocas construcciones donde se
              privilegian la tranquilidad y la naturaleza. Un entorno de mucha
              paz e intimidad y cuatro kilómetros de costa virgen para
              disfrutar.
            </p>
            <p>
              Hay luz eléctrica, los caminos y puentes que recorren el balneario
              se conservan en buen estado y se recomienda tener un vehículo para
              trasladarse hasta La Pedrera, a 6 kms, por abastecimiento,
              restaurantes y bares.
              </p> 
              <p>En San Antonio, se disfrutan los sonidos del
              silencio y del canto de los pájaros.
              </p>
              <h3>Por qué IKIGAI Apartamentos de Playa?</h3>
              <p></p>
          </div>
        </div>
              <article class="main_details">
        <h2 class="main_title">Nuestros Valores</h2>
      </article>
            <article class="main_details">
        <h2 class="main_title">Nuestros Compromiso</h2>
      <article></article>
    </main>
    <footer>
      <div class="row">
        <div class="col-footer">
          <h4>IKIGAI APARTS</h4>
          <div class="separador1"></div>
          <p>Para Huspedes</p>
        </div>
        <div class="col-footer">
          <h4>ENLACES UTILES</h4>
          <div class="separador1"></div>
          <ul class="padliless">
            <li><a href="quienessomos.html">Quienes Somos</a></li>
            <li><a href="servicios.html">Servicios</a></li>
            <li><a href="faq.html">Preguntas frecuentes</a></li>
            <li><a href="apartamentos.html">Modelos</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="sitemap.html">Sitemap</a></li>
            <li><a href="/legales">Aviso Legal</a></li>
          </ul>
        </div>
        <div class="col-footer">
          <h4>CONTACTO</h4>
          <div class="separador1"></div>
          <p class="marginbtm-0">Tte. Gral. Juan D. Peron 2082</p>
          <p class="margin-0">Ciudad de Buenos Aires</p>
          <p>Tel: +54 (011) 2066-0190</p>
          <a href="contacto.html" class="foot-contacto">Contacto</a>
          <div class="row-fix">
            <a href="https://www.facebook.com/pages/ikigai_aparts" class="fb"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a href="https://twitter.com/ikigai_aparts" class="tw"
              ><i class="fab fa-twitter"></i
            ></a>
            <a href="https://plus.google.com/pin" class="gp"
              ><i class="fab fa-google-plus-g"></i
            ></a>
            <a href="https://www.linkedin.com/company/ikigai_aparts" class="lin"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="btm-foot">
        <div>
          Todos los derechos reservados / © 2021 IKIGAI /
          <a href="/legales">Terminos y Condiciones</a>
        </div>
      </div>
    </footer>
    <a
      href="https://api.whatsapp.com/send?l=es&amp;phone=5491158009100&amp;text=Hola, me gustaría recibir información sobre tarifas y fechas disponibles para realizar una reserva "
      class="btn-whatsapp"
      title=""
      data-title="¡Mandanos un Whatsapp con tu consulta! Te responderemos de Lu - Vie de 9 a 18hs."
      ><img src="/img/btn-whatsapp.png" />
    </a>
  </body>
</html>
